.header, .hero, .body, .bar, .footer{
	margin-bottom: 10px;
	background-color: #C8FFE0;
}
.box{
	margin: 10px 0;
	min-height: 100px;
	background-color: #D0BFFF;
	font-size: 30px;
	color: black;
}
.b{
	background-color: #C88EA7;

}
.c{
	background-color: #5EE6EB;
}
.d{
	background-color: #CECE5A;
}
.e{
	background-color: #9F0D7F;
}
.f{
	background-color: #35155D;
}